html {overflow: -moz-scrollbars-vertical;}

.main_container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:ghostwhite;
    text-align: left;
    max-width: 1500px;
    margin: auto;
}

.credits_link {
    text-align: center;
    padding: 50px;
}

.credits_container {
    text-align: center;
}

button {
    cursor: pointer;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader */
.load {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.load_box {
    display: flex;
    justify-content: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

